<h3 style="font-family: Verdana, Arial, Helvetica, sans-serif;">Edit Author Details</h3>
<div [hidden]="submitted" style="width: 500px; font-family: Verdana, Arial, Helvetica, sans-serif;">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="author.name" name="name" formControlName="name">
        </div>

        <div class="form-group">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" id="designation" required [(ngModel)]="author.designation" name="designation" formControlName="designation">
        </div>
      
        <div class="form-group">
          <label for="department">Department</label>
          <input type="text" class="form-control" id="department" required [(ngModel)]="author.department" name="department" formControlName="department">
        </div>
    
        <div class="form-group">
          <label for="faculty">Faculty</label>
          <input type="text" class="form-control" id="faculty" required [(ngModel)]="author.faculty" name="faculty" formControlName="faculty">
        </div>
 
        <div class="form-group">
          <label for="university">University</label>
          <input type="text" class="form-control" id="university" required [(ngModel)]="author.university" name="university" formControlName="university">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="author.email" name="email" formControlName="email" >
        </div>

        <div class="form-group">
            <label for="phoneNo">Phone No</label>
            <input type="text" class="form-control" id="phoneNo" required [(ngModel)]="author.phoneNo" name="phoneNo" formControlName="phoneNo">
        </div>

        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h5>You Updated successfully!</h5>
</div>