<!--The content below is only a placeholder and can be replaced.-->
<style>
a{font-size:20px;color: white}

.bg-secondary {
    background-color: brown !important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>

<div class="container">

  <img src="assets/images/researchportfolio2.jpg" width="700" height="50" class="center">
    <hr>
        <!-- <app-navbar></app-navbar> -->
        <nav class="navbar navbar-expand-sm bg-secondary navbar-secondary">
            <!-- Brand -->
            <a class="navbar-brand" href="home/">Home</a>
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="researcher/">Researchers |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="author/">Authors |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="researchPaper">Research Paper |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="publication">Publication |</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="fund">Funding </a>
                </li>
            </ul>
          </nav>
    
    <router-outlet></router-outlet>
</div>
