
<h3 style="font-family: Verdana, Arial, Helvetica, sans-serif;">Add Funds for Research Projects</h3>
<div [hidden]="submitted" style="width: 500px; font-family: Lucida Console, Courier, monospace;">
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Funding Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="funds.name" name="name">
        </div>

        <div class="form-group">
            <label for="amount">Funding Amount</label>
            <input type="text" class="form-control" id="designation" required [(ngModel)]="funds.amount" name="amount">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h5>You submitted successfully!</h5>
</div>